<section>
<h1>Social</h1>
<ul id="social-aside">
<li>
<a rel="me" target="_blank" href="https://github.com/mlindgren"
title="Visit my Github public repositories."><img src="/images/github.png"
alt="Click to visit Github">&nbsp;Github</a></li>
<li>
<a rel="me" target="_blank"
href="http://www.last.fm/user/lindgrenM" title="Visit my last.fm profile
page."><img src="/images/last.fm.png" alt="Click to visit
last.fm">&nbsp;last.fm</a>
</li>
<li>
<a rel="me" target="_blank"
href="http://stackoverflow.com/users/108340/mitch-lindgren" title="Visit my
Stack Overflow profile."><img src="/images/stackoverflow.png" alt="Click to
visit Stack Overflow">&nbsp;Stack Overflow</a>
</li>
<li>
<a rel="me"
target="_blank" href="https://twitter.com/lindgrenM" title="Follow @lindgrenM on
Twitter"><img src="/images/twitter.png" alt="Click to visit
Twitter">&nbsp;Twitter</a>
</li>
<li><a rel="me" target="_blank"
href="http://mlindgren.yelp.ca/" title="Read my business reviews on Yelp."><img
src="/images/yelp.png" alt="Click to visit Yelp">&nbsp;Yelp</a>
</li>
<li>
<a
rel="me" target="_blank" href="http://www.youtube.com/user/lindgrenMitch"
title="Visit my YouTube channel."><img src="/images/yt.png"
alt="Click to visit YouTube">&nbsp;YouTube</a>
</li>
</ul>

</section>
