
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      {% capture post_class %}
      {% for category in post.categories %}
      {{ category | prepend:'category-' }}
      {% endfor %}
      {% endcapture %}
      <li class="post {{ post_class | strip_newlines }}">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</section>
