{% capture category_class %}
{% if post %}
{% for category in post.categories %}
{{ category | prepend:'category-' }}
{% endfor %}
{% else %}
{% for category in page.categories %}
{{ category | prepend:'category-' }}
{% endfor %}
{% endif %}
{% endcapture %}

<div class="{{ category_class | strip_newlines }}">
{% unless page.no_header %}
  <header>
    {% include post/title.html %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
             data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        {% endif %}
         &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
{% if index and excerpted != 'false' %}
  <div class="entry-content">{{ content | excerpt }}</div>
  <footer>
    <a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a>
  </footer>
{% else %}
  <div class="entry-content">{{ content }}</div>
{% endif %}
</div>
